/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border: 1px solid #937e62;
  background-color: #d2b48c;
  position: relative;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
      border-bottom: 0;
  }
}

@media (max-width: 480px) {
    .header > h2 {
        display: none;
    }
    .header {
        height: 47px;
    }
    .jumbotron > h1 {
        font-size: 28px;
    }
    .board {
        padding: 0 10%;
    }
    .row1 {
        width: 1.5em;
        float: right;
    }
    .row2 {
        width: 1.5em;
    }
}

.link:hover {
    text-decoration: none;
}
.board {
    font-size: 63px;
}
.peg {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #937e62;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: white;
}
.small-peg {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    border: 1px solid #937e62;
    line-height: 0.8em;
    border-radius: 50%;
    background-color: white;
}
.target {
    cursor: pointer;
}
.selected {
    border-width: 5px;
}
.r {
    background-color: #d9534f;
    border-color: #c9302c;
}
.g {
    background-color: #5cb85c;
    border-color: #449d44;
}
.y {
    background-color: #fef049;
    border-color: #ffd663;
}
.player-box {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 12px;
    color: #715e44;
    border-left: 1px solid #937e62;
    border-bottom: 1px solid #937e62;
    background-color: #fcf8e3;
    border-radius: 0 4px 0 4px;
}
.player {
    font-weight: bold;
}
.message-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px 8px;
    font-size: 12px;
    color: #715e44;
    border-top: 1px solid #9c8c73;
    border-bottom: 1px solid #9c8c73;
    background-color: #fcf8e3;
    border-radius: 0 0 4px 4px;
}
.warning {
    color: #a94442;
    font-weight: bold;
}
.info {
    color: #31708f;
    font-weight: bold;
}
